@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  scroll-behavior: smooth;
}

html.modal-open,
body.modal-open {
    overflow: hidden !important;
    height: 100% !important;
    /* Prevents the page from shifting if you have a scrollbar */
    padding-right: var(--scrollbar-width, 0px);
}

/* import the necessary styles for Vue Flow to work */
@import '@vue-flow/core/dist/style.css';

/* import the default theme, this is optional but generally recommended */
@import '@vue-flow/core/dist/theme-default.css';

/* Ensure handles are still clickable through the edge layer if needed */
.vue-flow__node {
    z-index: 1;
}

.vue-flow__node.selected {
    z-index: 2 !important;
}

/* Force the edge container above the nodes */
.vue-flow__edges,
.vue-flow__edge-labels {
    z-index: 3 !important;
}

/* Dynamic State */
.vue-flow__edge-path.step-edge-path.is-dynamic {
    stroke: #fdb500 !important;
}

.vue-flow__handle {
    width: 12px;
    height: 12px;
    border: 2px solid white;
    background-color: #94a3b8;
}

.vue-flow__handle.highlight {
    background-color: #f59e0b;
}


/** Classes for the displayed toast **/
.Toastify__toast {
    border-radius: 16px !important;
}

.Toastify__toast.info{
    color: #1e40af !important;
    background: #dbeafe !important;
}

.Toastify__toast.success{
    color: #065f46 !important;
    background: #d1fae5 !important;
}

.Toastify__toast.warning{
    color: #92400e !important;
    background: #fef3c7 !important;
}

.Toastify__toast-body {
    white-space: normal !important;
    padding: 10px !important;
}

.Toastify__close-button {
    padding: 8px !important;
}
